# Ignore file for npm (https://docs.npmjs.com/cli/using-npm/developers)

/*

## Allowlist
!LICENSE
!README.md
!SECURITY.md
!index.cjs
!index.d.ts
!index.js
!is-supported-regexp-flag.cjs
!is-supported-regexp-flag.js
!package.json
