# SPDX-License-Identifier: MIT

name: Publish
on:
  push:
    branches:
      - main

permissions: read-all

jobs:
  npm:
    name: npm
    runs-on: ubuntu-24.04
    permissions:
      id-token: write # For trusted publishing
    environment:
      name: npm
      url: https://www.npmjs.com/package/@ericcornelissen/lregexp
    steps:
      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false
      - name: Install Node.js
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          node-version: 24.12.0
          package-manager-cache: false
          registry-url: https://registry.npmjs.org
      - name: Install dependencies
        run: npm clean-install
      - name: Publish to npm
        run: npm publish || true
